:root {
  --primary-color: #8f4790;
  --primary-dark: #824283;
  --primary-light: #f3e5f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  padding-top: 60px;
  accent-color: #8f4790;
}

#root {
  min-height: 100vh;
}

::selection {
  background-color: #8f4790;
  color: white;
}
